rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == "antonioappleton@gmail.com";
    }

    function isHouseholdMember(hid) {
      let household = get(/databases/$(database)/documents/households/$(hid)).data;
      return isAuthenticated() && (household.ownerUid == request.auth.uid || (household.members is list && request.auth.uid in household.members));
    }

    /* =========================
       Global recipes
    ========================== */
    match /recipes/{recipeId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    /* =========================
       Ingredients & Prices
    ========================== */
    match /ingredients/{ingId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    /* = :========================
       User Recipes
    ========================== */
    match /userRecipes/{docId} {
      allow read, write: if isAuthenticated() && request.auth.uid == resource.data.userId;
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.userId;
    }

    /* =========================
       Households
    ========================== */
    match /households/{hid} {
      allow create: if isAuthenticated();
      allow read: if isAuthenticated() && (resource.data.ownerUid == request.auth.uid || (resource.data.members is list && request.auth.uid in resource.data.members));
      allow write: if isHouseholdMember(hid);
         
      match /pantry/{docId} {
        allow read, write: if isHouseholdMember(hid);
      }
    }

    /* =========================
       Weekly Plans
    ========================== */
    match /weeklyPlans/{planId} {
      allow create: if isAuthenticated();
      allow read, update, delete: if isAuthenticated() && (
        resource.data.householdId == null || 
        isHouseholdMember(resource.data.householdId) ||
        (resource.data.members is list && request.auth.uid in resource.data.members)
      );
    }

    /* =========================
       Feedback
    ========================== */
    match /feedback/{fid} {
      allow create: if isAuthenticated();
      allow read: if isAuthenticated() && (
        resource.data.householdId == null || 
        isHouseholdMember(resource.data.householdId)
      );
    }

    /* =========================
       Users
    ========================== */
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    /* =========================
       Admin
    ========================== */
    match /admin/{doc} {
      allow read, write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
